	@mixin bg-cover($fixed:false){
		background-position: top center;
		@if $fixed == true{
		 background-attachment: fixed;
		}
		background-repeat: no-repeat;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}


