html{
	//font-size: 62.5%;
	background-image:url('../images/bg.jpg');
	//background-size:100% auto;
	//background-position:center top;
	//background-repeat:no-repeat;
	//background-attachment: fixed;
	@include bg-cover(true);
	background-color: black;
}
body{
	width:100%;
	overflow-x:hidden;
	font-family: $open_sans;
	font-weight:400;
	color: $grey;
	background-color:transparent;

	// /-webkit-font-smoothing: antialiased;
}
