.button{
	display: inline-block;
	height:48px;
	line-height:48px;
	background-color:$orange;
	color: $dark-grey;
	text-align:center;
	@include font-size(20px);
	font-weight:600;
	text-transform:uppercase;
	padding:0 30px;
	&:hover,&:active{
		background-color:darken($orange,10%);
	}
}




@media #{$xlarge-up} { 

}