#header{
	color: white;
	padding: 0 36px;
	@extend .clearfix;
	@extend %full-width;
	border-bottom:1px solid black;
	#home-link{
		margin: 36px 0;
		width: 256px;
		height: 57px;
		display:block;
		float:left;
		@extend %ir;
		background:url('../images/levi-solicitors.png') left top no-repeat;
		background-size: 100% auto;
		.svg &{
			background:url('../images/levi-solicitors.svg') left top no-repeat;
		}
	}	
}
