h1,h2,h3,h4{
	text-transform:uppercase;
	@include font-size(48px/100*75);
	font-weight:300;
	line-height: 120%;
	margin: 0 0 20px;
	letter-spacing:-1px;
	a &{
		color: $dark-grey;
	}
}
h2{
	@include font-size(36px/100*75);
}
h3{
	@include font-size(28px/100*75);
}
h4{
	@include font-size(21px);
	letter-spacing:-0.5px;
}
strong{
	font-weight:700;
}
p,ul{
	
	line-height: 140%;
}
p{
	@include font-size(16px);
	margin-bottom: 15px;
	&:last-child{
		margin-bottom: 0;
	}
}
small{
	@include font-size(12px);
	line-height: 120% !important;
}
a{
	text-decoration: none;
	@include transition(all .3s ease);
	&:link,&:visited{
		color: $dark-grey;
	}
	&:hover,&:active{
		color: $orange;
	}
	.dotted-links &{
		&:link,&:visited{
			border-bottom: 1px dotted $dark-grey;
		}
		&:hover,&:active{
			border-bottom: 1px dotted $orange;
		}
	}
}

@media #{$large-up} { 
	h1,h2,h3{
		margin:0 0 30px;
	}
	h1{
		@include font-size(48px);
	}
	h2{
		@include font-size(36px);
	}
	h3{
		@include font-size(28px);
	}
}
@media #{$large-up} { 
	
}